@import "variables.less";
@import "mixins.less";

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}
body {
    .serif-font;
    display: flex;
    flex-direction: column;
	padding-right: 0 !important;
}

.content {
    flex: 1 0 auto;
}
hr {
    &.light {
        border-color: white;
    }
    &.grey {
        border-color: darkgray;
        border-width: 1px;
        max-width: 100%;
    }
    border-color: @theme-primary;
    border-width: 3px;
    max-width: 600px;
}
.separator {
    border-top: 1px solid #D8D8D8;
    margin: 10px 0;
}
a {
    .transition-all;
    .link;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    .text-helper {
        font-size: 10pt;
    }
}
.bg-primary {
    background-color: @theme-primary;
}
.bg-dark {
    background-color: @gray-darker;
    color: white;
}
.sections-dark {
    background-color: lighten(@theme-primary, 62%);
    color: black;
}
.text-faded {
    color: fade(white, 70%);
}
section {
    padding: 100px 0;
    &.content {
        padding: 10px;
    }
    &.page {
        padding: 50px 25px;
    }
    &.login {
        padding: 100px 50px;
        width: 100%;
        height: 100%;
        @media (max-width: 767px) {
            padding: 75px 15px 50px;
            height: auto;
        }
    }
	&.half {
		padding: 50px 0;
	}
}
aside.clients {
    img {
        margin: 50px auto;
    }
}
.no-padding {
    padding: 0;
}
// Navigation
.navbar-default {
    background-color: white;
    border-color: fade(@gray-darker, 5%);
    .sans-serif-font;
    .transition-all;
    .navbar-header .navbar-brand {
        color: @theme-primary;
        .sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover, &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-weight: 700;
        font-size: 12px;
        color: @gray-darker;
        text-transform: uppercase;
    }
    .nav {
        > li {
            > a, > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: @gray-darker;
                &:hover {
                    color: @theme-primary;
                }
            }
            &.active {
                > a, > a:focus {
                    color: @theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            color: fade(white, 70%);
			text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
            &:hover, &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: fade(white, 70%);
			text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: #A3112A;
			border-width: 0 0 2px;
            .navbar-header .navbar-brand {
                color: @theme-primary;
                font-size: 14px;
				text-shadow: none;
                &:hover, &:focus {
                    color: darken(@theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: @gray-darker;
				text-shadow: none;
                &:hover {
                    color: @theme-primary;
                }
            }
        }
        &.navbar-page {
            border-color: @theme-primary;
            border-width: 0 0 2px;
        }
    }
}
// Homepage Header
header {
    &.blog-header {
        padding: 70px 0 0 0;
        color: rgb(51, 51, 51);
        min-height: 50px;
        background-image: none;
    }
    &.post-header {
        margin-top: 52px;
        background-color: rgba(0, 0, 0, 0.5);
        background: no-repeat center center;
        background-attachment: scroll;
        .background-cover;
        // NOTE: Background images are set within the HTML using inline CSS!
        margin-bottom: 50px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
        .site-heading, .post-heading, .page-heading {
            color: white;
        }
        .site-heading,
        .page-heading {
            text-align: center;
            h1 {
                margin-top: 0;
                font-size: 50px;
            }
            .subheading {
                font-size: 24px;
                line-height: 1.1;
                display: block;
                .sans-serif-font;
                font-weight: 300;
                margin: 10px 0 0;
            }
            @media only screen and (min-width: 768px) {
                h1 {
                    font-size: 80px;
                }
            }
        }
        .post-heading {
            text-align: right;
			margin: 2em 3em;
			h1 {
				.header-dark;	
			}
            @media only screen and (min-width: 768px) {
                h1 {
                    font-size: 55px;
                    font-weight: 800;
                }
                .subheading {
                    font-size: 30px;
                }
            }
        }

        @media only screen and (min-width: 768px) {
            min-height: 85%;
        }
    }
    position: relative;
    width: 100%;
    min-height: auto;
    .background-cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
			text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
                word-spacing: 10px;
				-webkit-animation-duration: 2s;
				-moz-animation-duration: 2s;
				-webkit-animation-delay: 500;
				-moz-animation-delay: 500;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(white, 85%);
                font-size: 16px;
                margin-bottom: 50px;
				-webkit-animation-duration: 2s;
				-moz-animation-duration: 2s;
				-webkit-animation-delay: 1s;
				-moz-animation-delay: 1s;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                h1 {
                    font-size: 50px;
                }
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Article
article {
	p {
		font-weight: 300;
		font-size: 14pt;
		line-height: 1.7;
		margin: 30px 0;
	}
	.post-attribution {
		margin-bottom: 3em;
		a {
			font-weight: 600;
		}
	}
}

// Sections
.section-heading {
    margin-top: 0;
}
.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 4px solid;
		border-color: lighten(@theme-primary, 45%);
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}
.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}
.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: fade(@theme-primary, 90%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category, .project-name {
                .sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    &:focus {
        outline: none;
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}
.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}
.contact-details {
    li {
        margin: 0 10px;
    }
}
// Map Section
.map {
    iframe {
        max-width: 270px;
    }
    @media (min-width: 480px) {
        iframe {
            max-width: 430px;
        }
    }
    @media (min-width: 768px) {
        iframe {
            max-width: 600px;
        }
    }
    @media (min-width: 992px) {
        iframe {
            max-width: 800px;
        }
    }
}
// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
// Button Styles
.btn {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
    border-radius: 0;
	&.focus, &:focus, &:active:focus, &.active:focus,
	&.active.focus, &:active:focus {
		outline: none;
	}
	&.tag {
		text-transform: none;
		&.active, &:hover, &:focus {
			color: #fff;
		}
		&.active {
			background-color: @theme-primary;
			color: #fff;
		}
		&.active:hover {
			background-color: @theme-primary;
			color: #fff;
		}
		&:hover {
			background-color: fade(@theme-primary, 90%);
			color: #fff;
		}
	}
}
.btn-default {
    .btn-base(fade(@theme-primary, 70%);
    fade(@theme-primary, 90%);
    @theme-primary;
    );
}
.btn-primary {
    .btn-base(@theme-primary;
    fade(@theme-primary, 90%);
    @theme-primary);
}
.dropdown {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagination>li>a, .pagination>li>span,
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    .btn-base(@theme-primary;
    @theme-primary;
    @theme-primary);
	border-radius: 0;
	margin: 3px;
	font-size: 12px;

    @media (max-width: 768px) {
		margin: 2px;
		padding: 5px 10px;
	}
}
.pagination>.active>span, .pagination>.active>a,
.pagination > li:first-child.active > a,
.pagination > li:last-child > a {
	.btn-hover(@theme-primary; @theme-primary);
	&:hover {
		.btn-hover(darken(@theme-primary, 5%); darken(@theme-primary, 5%));
	}
	@media (max-width: 768px) {
		margin: 2px;
		padding: 5px 10px;
	}
}
.btn-xl {
    padding: 15px 30px;
}
#top.btn {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 90px;
    right: 30px;
	color: #ffffff;
    background: lighten(@theme-primary, 5%);
    border-color: lighten(@theme-primary, 5%);
    &:hover {
        background: darken(@theme-primary, 5%);
        border-color: darken(@theme-primary, 5%);
    }
}
// Form Styles
.form-custom {
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, .4);
	border-width: 0 0 1px;
    border-radius: 0;
	height: 42px;
    box-shadow: none;
    &:focus {
		border: 1px solid @theme-primary;
		border-width: 0 0 1px;
		box-shadow: none;
    }
}
.form-group-custom {
    margin: 20px 0;
}
.is-danger {
	color: saturate(lighten(@theme-primary, 10%), 40%);
}
// Box Styles
.box {
    border: 2px solid @theme-primary;
    color: @theme-primary;
    padding: 20px;
    margin: 0 auto;
    max-width: 350px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    h1 {
        font-size: 18pt;
        font-weight: 700;
    }
    .btn-primary {
        font-weight: 700;
        font-size: 11pt;
    }
}
//
.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid @gray-light;
    input, textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }
    label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease, opacity 0.3s ease;
        -moz-transition: top 0.3s ease, opacity 0.3s ease;
        -ms-transition: top 0.3s ease, opacity 0.3s ease;
        transition: top 0.3s ease, opacity 0.3s ease;
    }
    &:not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid @gray-light;
    }
}
.floating-label-form-group-with-value {
    label {
        top: 0;
        opacity: 1;
    }
}
.floating-label-form-group-with-focus {
    label {
        color: @theme-primary;
    }
}
// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}
::selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}
img::selection {
    color: white;
    background: transparent;
}
img::-moz-selection {
    color: white;
    background: transparent;
}
body {
    webkit-tap-highlight-color: @gray-darker;
}
.footer {
	border: 2px solid @theme-primary; 
	border-width: 1px 0 0; 
    background-color: lighten(@theme-primary, 58%);
    line-height: 20px;
    @media(max-width: 767px) {
        text-align: center;
    }
    nav > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}
.footer nav > ul a:not(.btn) {
    /*color: #777777;*/
    display: block;
    margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover,
.footer nav > ul a:not(.btn):focus {
    text-decoration: none;
}
.footer .social-area {
    padding: 15px 0;
}
.footer .social-area h5 {
    padding-bottom: 15px;
}
.footer .social-area > a:not(.btn) {
    display: inline-block;
    vertical-align: top;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

.footer .copyright {
    color: #777777;
    padding: 10px 15px;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center;
}
.footer hr {
    border-color: #dddddd;
}
.footer .title {
    color: #777777;
}
.footer:not(.footer-big) nav > ul {
    font-size: 16px;
}
.footer:not(.footer-big) nav > ul li {
    margin-left: 20px;
    float: left;
    @media (max-width: 767px) {
        float: none !important;
    }
}
.footer:not(.footer-big) nav > ul a {
    padding: 10px 0px;
    margin: 15px 10px 15px 0px;
}
.footer-default {
    background-color: whitesmoke;
}
@media (max-width: 767px) {
    .footer nav.pull-left,
    .footer:not(.footer-big) nav > ul li,
    .pull-right {
        float: none !important;
    }
}
// Post Preview Pages
.post-preview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
	padding: 0 35px;
	.post-preview-text .post-title {
		font-size: 30pt;
		font-weight: 700;
		margin-bottom: 0.6em;
		line-height: 1.4em;
		&.bottom {
			margin-top: 1em;
			font-size: 24pt;
			font-weight: 600;
		}
	}
	.post-preview-text .post-meta {
		font-size: 14px;
		margin-top: 0;
		a {
			font-weight: 600;
		}

	}
    @media only screen and (min-width: 768px) {
        > .post-preview-text > a {
            > .post-title {
                font-size: 36px;
                font-weight: 700;
            }
        }
    }
}
.post-preview-middle {
	margin: 3em 0;
	.post-preview-text {
		margin: 0 35px;
	}
	.post-preview-text .post-title {
		margin-top: 1em;
		font-size: 20pt;
		font-weight: 600;
	}
	.post-preview-text .post-meta {
		font-size: 14px;
		margin-top: 0;
		a {
			font-weight: 600;
		}

	}
}
.post-img-middle {
        display: flex;
        justify-content: center;
    }
.post-heading h1 {
}

// Pagination
.pagination {
    display: flex;
	justify-content: center;
}

// Owl carousel
#owl-main {
	&.owl-carousel {
		color: #FFFFFF;
		text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
	}
	.item {
		background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
		);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 480px;
		.container {
			padding-top: 5em;
		}
	}
	.owl-dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	h2 {
		font-size: 50px;
		font-weight: 600;
	}
	p {
		line-height: 1.8em;
	}
	.btn-primary {
		.btn-base(@theme-primary;
		@theme-primary;
		@theme-primary);
		color: #ffffff;
	}
}

.owl-pagination .owl-page span {
	background-color: #DA5068;
}
.owl-pagination .owl-page.active span, .owl-pagination .owl-page:hover span {
	background-color: @theme-primary;
}
.project {
	padding: 25px 0;
	&.header {
		padding: 0 0 25px;
		min-height: 40rem;
	}
	img {
		margin: auto;
	}
	hr {
		margin-left: 0;
	}
	.text-muted {
		margin-top: 2rem;
	}
}

.filter li {
	margin: 5px 0;
}

#books, .books, .projects {
	padding: 50px 0;
	img {
		width: auto;
		margin: auto;
	}
	
	h4 {
		font-size: 20px;
		font-weight: 600;
		margin: 10px 10px 5px;
	}
	h5 {
		font-size: 16px;
		font-weight: 400;
		margin: 5px 10px;
	}
	h6 {
		font-size: 18px;
		font-weight: 600;
		color: @theme-primary; 
		margin: 5px 10px;
	}
	.project-title {
		margin-left: 60px;
	}
	.project-title {
		margin-left: 60px;
	}
	.book {
		margin: 15px 0;
	}
}
.book-description {
	h1 {
		font-size: 40px;
		font-weight: 700;
	}
	h3 {
		font-size: 28px;
		font-weight: 600;
		color: @theme-primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
		}
		a {
			float: right;
		}
		&.not-in-stock {
			display: inline-block;
			color: #777;
			padding: 5px;
			margin: 10px 10px 10px 0;
			background-color: #eee;
		}
	}
	p.short-description {
		margin-top: 1em;
		font-weight: 600;
	}
}
.book-details {
	margin-top: 2rem;
	p {
		font-size: 16px;
		margin-bottom: 0;
		color: @theme-primary;
	}
	ul {
		margin-top: 1em;
	}
}
#selected-post {
	padding: 30px 0;
	.post-preview-text {
		margin: 0 80px;
	}
}
.tag, li.tag {
	padding: 5px 8px;
	background-color: fade(@theme-primary, 70%);
	border-radius: 30px;
	font-weight: 600;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	
}
.modal-content {
	.modal-header {
		padding: 15px 30px;
	}
	.modal-body {
		margin: 0 20px;
		.quantity {
			display: flex;
			justify-content: space-around;
		}
	}
	.modal-footer {
		border-top: none;
	}
	b {
		color: @theme-primary;
	}
	.thank-you {
		padding: 150px 70px;
	}
}
.modal-open {
    padding-right: 0px !important;
}
.isbn_list {
	display: block;
	margin-left: 5rem;
}
img.bordered {
	border: 2px solid #f6a4b2;
}
.filter-form {
	.form-group {
		button {
			width: 100%;
		}
	}
}
