{% extends "core/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Увійти" %}{% endblock %}

{% block content %}

<section class="login">
	<div class="box">
		<form method="post" action="{% url 'account_login' %}">
			<div class="form-group-custom">
				<h1 class="text-uppercase text-center">{% trans "Увійти" %}</h1>
				{% csrf_token %}
				{% for field in form %}
				{% if forloop.last %}
				{% else %}
				{{ field|attr:"class:form-control form-custom"}}
				{% endif %}
				{{ field.errors }}
				{% endfor %}
				{% if form.errors %}
				<div class="text-danger">
					{% trans "Ваш пароль та логін не співпадають." %}
				</div>
				{% endif %}
			</div>
			{% if redirect_field_value %}

			<input class="btn btn-primary" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}

			<div class="form-group-custom margin-top text-center">
				<ul class="list-inline">
					<li>
						<button class="btn btn-primary" type="submit">{% trans "Увійти" %}</button>
					</li>
				</ul>
			</div>
		</form>
	</div>
</section>

{% endblock %}
