{% extends "core/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Увійти" %}{% endblock %}

{% block content %}

<section class="login">
  <div class="box">
    <form method="post" action="{% url 'account_login' %}">
      <div class="form-group-custom">
        <h1 class="text-uppercase text-center">{% trans "Увійти" %}</h1>
        {% csrf_token %}
        {% for field in form %}
        {% if forloop.last %}
        {% else %}
        {{ field|attr:"class:form-control form-custom"}}
        {% endif %}
        {{ field.errors }}
        {% endfor %}
        {% if form.errors %}
        <div class="text-danger">
          {% trans "Ваш пароль та логін не співпадають." %}
        </div>
        {% endif %}
      </div>
      {% if redirect_field_value %}

      <input class="btn btn-primary" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="form-group-custom margin-top text-center">
        <ul class="list-inline">
          <li>
          <button class="btn btn-primary" type="submit">{% trans "Увійти" %}</button>
          </li>
          <li>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забули пароль?" %}</a>
          </li>
        </ul>
      </div>
    </form>
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <div class="separator"> </div>
  <p class="text-helper text-center"><a href="{{ signup_url }}">Зареєструватися</a>.</p>
  {% endif %}
  </div>
</section>

{% endblock %}
