{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="login">
	<div class="box">
		<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

		{% if token_fail %}
		{% url 'account_reset_password' as passwd_reset_url %}
		<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
		{% else %}
		{% if form %}
		<form method="POST" action="{{ action_url }}">
			{% csrf_token %}
			{% for field in form %}
			{{ field|attr:"class:form-control form-custom"}}
			{{ field.errors }}
			{% endfor %}		
			<button class="btn btn-primary" name="action" type="submit">{% trans "Змінити пароль" %}</button>
		</form>
		{% else %}
		<p>{% trans 'Your password is now changed.' %}</p>
		{% endif %}
		{% endif %}
	</div>
</section>
{% endblock %}
