{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<section class="login">
  <div class="box">
    <h1 class="text-center text-uppercase">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забули ваш пароль? Уведіть емейл." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      {% for field in form %}
      {{ field|attr:"class:form-control form-custom"}}
      {{ field.errors }}
      {% endfor %}
      {% if form.errors %}
      <div class="text-danger">
        {% trans "Your username or password didn't match. Please try again." %}
      </div>
      {% endif %}
      <div class="form-group-custom margin-top text-center">
        <ul class="list-inline">
          <li>
          <button class="btn btn-primary" type="submit">{% trans "Відновити" %}</button>
          </li>
        </ul>
      </div>

    </form>
</section>

{% endblock %}
