<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="video-container">
      <iframe width="640" height="360" src="{{ object.youtube }}">
      </iframe>
      <a href="{% url 'video:page' object.slug %}">
        <h4>{{ object.title }}</h4>
      </a>
      <div class="description">{{ object.short_descr }}</div>
      <div class="authors">
        <a href="#">{{ object.user.first_name }} {{ object.user.last_name }}</a>
        <span class="date">{{ object.pub_date }}</span>
      </div>
    </div>
  </div>
</div>
