{% extends "core/base.html" %}

{% load thumbnail %}
{% load static %}

{% block meta %}
{{ block.super }}
{% if object.short_descr %}
<meta name="description" content="{{ object.short_descr|striptags }}">
<meta property="og:description" content="{{ object.short_descr|striptags }}">
<meta name="twitter:description" content="{{ object.short_descr|striptags }}">
{% endif %}
<meta property="og:video" content="{{ object.youtube }}">
{% endblock %}

{% block navbar %}{% include "core/navbar.html" %}{% endblock %}

{% block head_title %}
Видавництво Темпора: {{ object.title }}
{% endblock %}

{% block content %}
<div class="content">
	<section>
		<div class="container">
			{% include 'video/list_item.html' with object=object %}
		</div>
	</section>
</div>
{% endblock %}
