{% extends "core/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}Блог Видавництва "Темпора"{% endblock %}

{% block content %}

{% include "core/navbar.html" %}
<div class="content">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- Start of pagination -->
                    {% for post in posts %}
                    {% if forloop.first %}
                    <div class="row post-preview">
                        <div class="col-md-6">
                            <div class="view view-first">
                                <img class="post-img img-responsive" src="{{ post.image.blog_first.url }}" alt="{{ post.image.name }}">
                                <div class="mask">
                                    <a href="{% url 'blog:page' post.slug %}" class="btn btn-primary">Читати</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-preview-text">
                                <a href="{% url 'blog:page' post.slug %}" class="">
                                    <h2 class="post-title">{{ post.title }}</h2>
                                </a>
								<p>{{ post.short_descr }}</p>
								<p class="post-meta">
								<span class="meta"><a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></span>
								<span class="meta">{{ post.pub_date }}</span>
								</p>
							</div>
                        </div>
                    </div>
                    {% elif forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %} 
                    {% if forloop.counter == 2 %}
                    <div class="row post-preview-middle">
                    {% endif %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 post-img-middle">
                                <div class="view view-first">
                                    <img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
                                    <div class="mask">
                                        <a href="{% url 'blog:page' post.slug %}" class="btn btn-primary">Читати</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-preview-text">
                                    <a href="{% url 'blog:page' post.slug %}" class="">
                                        <h2 class="post-title middle">{{ post.title }}</h2>
									</a>
									<p>{{ post.short_descr }}</p>
									<p class="post-meta">
									<span class="meta"><a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></span>
									<span class="meta">{{ post.pub_date }}</span>
									</p>
								</div>
							</div>
                        </div>
                    </div>
                    {% if forloop.counter == 4 %}
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="row post-preview">
                        <div class="col-md-5">
                            <div class="view view-first">
                                <img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
                                <div class="mask">
                                    <a href="{% url 'blog:page' post.slug %}" class="btn btn-primary">Читати</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-preview-text">
                                <a href="{% url 'blog:page' post.slug %}" class="">
                                    <h2 class="post-title bottom">{{ post.title }}</h2>
                                </a>
								<p>{{ post.short_descr }}</p>
								<p class="post-meta">
								<span class="meta"><a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></span>
								<span class="meta">{{ post.pub_date }}</span>
								</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    <!-- Start of pagination -->
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}" class="btn btn-primary btn-sm">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    <!-- End of pagination -->

                </div>
            </div>
        </div>
    </section>
	</div>
{% endblock %}
