{% extends "pbhouse/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block head_title %}{% trans "Блог" %}{% endblock %}

{% block content %}

{% include "pbhouse/navbar.html" %}
<div class="wrapper">
    <header class="blog-header" style="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading text-center">{% trans "Блог" %}</h1>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- Start of pagination -->
                    {% for post in posts %}
                    {% if forloop.first %}
                    <div class="row post-preview">
                        <div class="col-md-6">
                            <div class="view view-first">
                                <img class="post-img img-responsive" src="{{ post.image.blog_first.url }}" alt="{{ post.image.name }}">
                                <div class="mask">
                                    <p>A cool description of some sort between these tags. I am so cool and awesomely awesome.</p>
                                    <a href="{% url 'blog:page' post.id %}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-preview-text">
                                <a href="{% url 'blog:page' post.id %}" class="">
                                    <h2 class="post-title">{{ post.title }}</h2>
                                </a>
                                <p class="post-meta">by <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></p>
                            </div>
                        </div>
                    </div>
                    {% elif forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %} 
                    {% if forloop.counter == 2 %}
                    <div class="row">
                    {% endif %}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 post-img-second">
                                <div class="view view-first">
                                    <img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
                                    <div class="mask">
                                        <p>A cool description of some sort between these tags. I am so cool and awesomely awesome.</p>
                                        <a href="{% url 'blog:page' post.id %}" class="btn btn-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="post-preview-text">
                                    <a href="{% url 'blog:page' post.id %}" class="">
                                        <h2 class="post-title">{{ post.title }}</h2>
                                    </a>
                                    <p class="post-meta">by <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter == 4 %}
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="row post-preview">
                        <div class="col-md-6">
                            <div class="view view-first">
                                <img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
                                <div class="mask">
                                    <p>A cool description of some sort between these tags. I am so cool and awesomely awesome.</p>
                                    <a href="{% url 'blog:page' post.id %}" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-preview-text">
                                <a href="{% url 'blog:page' post.id %}" class="">
                                    <h2 class="post-title">{{ post.title }}</h2>
                                </a>
                                <p class="post-meta">by <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% endfor %}

                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}

                    <!-- End of pagination -->
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
