{% load el_pagination_tags %}
{% load static %}
{% load thumbnail %}

{% paginate posts %}

{% for post in posts%}
<div class="col-lg-12">
  <a href="{% url 'blog:edit' post.id %}" class="">{{ post.title }}
  </a>
  <small>{{ post.pub_date }}</small>
  <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#{{ post.id }}">
    <i class="fa fa-lg fa-trash" aria-hidden="true"></i>
  </button>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to delete {{ post.title }}? </p> 
      </div>
      <div class="modal-footer">
        <form action="{% url 'blog:delete' post.id %}" method="post">{% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Yes" />
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<div class="pagination">
  {% show_more%}
</div>
