<div id="carantineAlert" class="alert alert-warning alert-dismissible fade in alert-top" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	<div class="message">На період карантину <strong>видавництво тимчасово не здійснюватиме відправлення замовлень із сайту</strong>. З 17 березня по 3 квітня ви можете замовити наші книжки в <a href="https://book-ye.com.ua/">інтернет-магазині книгарні «Є»</a>. Заздалегідь дякуємо за розуміння!</div>
</div>
