<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="carantineAlert" class="alert alert-warning fade in alert-top hidden" role="alert">
				<button id="carantineClose" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="message">На період карантину <strong>видавництво тимчасово не здійснюватиме відправлення замовлень із сайту</strong>. Ви можете замовити наші книжки в <a href="https://book-ye.com.ua/">інтернет-магазині книгарні «Є»</a>. Заздалегідь дякуємо за розуміння!</div>
			</div>
		</div>
	</div>
</div>
