{% load i18n %}

<!-- Navbar -->
<nav id="pageNav" class="navbar navbar-default navbar-fixed-top navbar-page affix">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="{% url 'pbhouse:landing' %}">Tempora</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" href="{% url 'books:list' %}">{% trans 'Книги' %}</a>
				</li>
				<li>
					<a class="page-scroll" href="{% url 'video:list' %}">{% trans 'Відео' %}</a>
				</li>
				<li>
					<a class="page-scroll" href="{% url 'blog:blog' %}">{% trans 'Блог' %}</a>
				</li>
				<li>
					<a class="page-scroll" href="{% url 'projects:list' %}#projects">{% trans "Проекти" %}</a>
				</li>
				<li>
					<a class="page-scroll" href="{% url 'pbhouse:team' %}">{% trans 'Команда' %}</a>
				</li>
				<li>
					<a class="page-scroll" href="{% url 'pbhouse:contacts' %}">{% trans 'Контакти' %}</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
