{% extends "pbhouse/dashboard.html" %}

{% block head %}
{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load tz %}

<!-- Edit form -->
<form action="" id="edit-form" name="edit-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      {% if form.errors %}
      <div class="form-group-item text-danger">
        {{ form.errors }}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
      {% for fieldset in form.fieldsets %}
      <fieldset class="form-group {{ fieldset.classes }}">
        {% for field in fieldset %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="row">
          <div class="col-md-2">
            {{ field.label_tag }}
          </div>
          <div class="col-md-10">
            {% render_field field class+="form-control" %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            {{ field.errors }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </fieldset>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input class="btn btn-default" type="submit" value="{% trans 'Submit' %}" />
    </div>
  </div>
  <div id="test">
  </div>
</form>
<!-- End of the edit form -->

<!-- Image upload -->
{% include 'pbhouse/upload_template.html' %}
<script type="text/javascript">
$(function() {
    initUploadFields($('#edit-form'));
    });
</script>

{% endblock %}
