{% load widget_tweaks %}

<form action="" name="user-form" id="user-form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.form_id }}
    {{ form.upload_url }}
    {{ form.delete_url }}
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col-md-12">
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
					<label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.email.auto_id }}">
                        {{ form.email.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.email|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.email.errors }}
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.first_name.auto_id }}">
                        {{ form.first_name.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.first_name|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.first_name.errors }}
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.last_name.auto_id }}">
                        {{ form.last_name.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.last_name|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.last_name.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.info.auto_id }}">
                        {{ form.info.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.info|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.info.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.facebook.auto_id }}">
                        {{ form.facebook.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.facebook|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.facebook.errors }}
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.twitter.auto_id }}">
                        {{ form.twitter.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.twitter|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.twitter.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.linkedin.auto_id }}">
                        {{ form.linkedin.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.linkedin|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.linkedin.errors }}
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.goodreads.auto_id }}">
                        {{ form.goodreads.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.goodreads|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.goodreads.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-6">
			{% if user.is_superuser %}
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.position.auto_id }}">
                        {{ form.position.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.position|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.position.errors }}
                    </div>
                </div>
            </div>
			{% endif %}
        </div>
		<div class="col-md-6">
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.avatar.auto_id }}">
                        {{ form.avatar.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.avatar|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.avatar.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% if user.is_superuser %}	
	<div class="row">
		<div class="col-md-2">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-9 col-sm-9 col-xs-9" for="{{ form.is_superuser.auto_id }}">
                        {{ form.is_superuser.label }}
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        {{ form.is_superuser|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.is_superuser.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-9 col-sm-9 col-xs-9" for="{{ form.is_staff.auto_id }}">
                        {{ form.is_staff.label }}
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        {{ form.is_staff|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.is_staff.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-2">
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="{{ form.is_active.auto_id }}">
                        {{ form.is_active.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        {{ form.is_active|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.is_active.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-2">
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-8 col-sm-6 col-xs-6" for="{{ form.team.auto_id }}">
                        {{ form.team.label }}
                    </label>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        {{ form.team|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.team.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-2">
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="{{ form.author.auto_id }}">
                        {{ form.author.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        {{ form.author|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.author.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-2">
			<div class="row">
                <div class="form-group">
                    <label class="control-label col-md-8 col-sm-6 col-xs-6" for="{{ form.blogger.auto_id }}">
                        {{ form.blogger.label }}
                    </label>
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        {{ form.blogger|attr:"class:form-control flat" }}
                    </div>
                    <div class="col-md-10 col-md-offset-2">
                        {{ form.blogger.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	{% endif %}
       
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="btn btn-primary" type="submit" value="Зберегти"/>
        </div>
    </div>
</form>


<!-- Image upload -->
{% include 'core/upload_template.html' %}
<script type="text/javascript">
$(function() {
    initUploadFields($('#user-form'));
    });
</script>
