{% extends "pbhouse/dashboard.html" %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">User List</h2>
    </div>
    <div class="endless_page_template">

      {% include "users/users.html" %}

      {% block js %}
      {{ block.super }}
      <script src="http://code.jquery.com/jquery-latest.js"></script>

      <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
      <script>$.endlessPaginate({paginateOnScroll: true});</script>
      {% endblock %}

    </div>
  </div>

</div>

{% endblock %}

