.link {
  color: #A3112A;
}
.link:hover,
.link:focus {
  color: #750c1e;
  text-decoration: none;
}
.link-light {
  color: #ec4864;
}
.link-light:hover,
.link-light:focus {
  color: #f1768b;
  text-decoration: none;
}
.header-dark {
  font-size: 35px;
}
.header-dark span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  line-height: 1.7em;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 0 !important;
}
.content {
  flex: 1 0 auto;
}
hr {
  border-color: #A3112A;
  border-width: 3px;
  max-width: 600px;
}
hr.light {
  border-color: white;
}
hr.grey {
  border-color: darkgray;
  border-width: 1px;
  max-width: 100%;
}
.separator {
  border-top: 1px solid #D8D8D8;
  margin: 10px 0;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #A3112A;
}
a:hover,
a:focus {
  color: #750c1e;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
p .text-helper {
  font-size: 10pt;
}
.bg-primary {
  background-color: #A3112A;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.sections-dark {
  background-color: #fef3f4;
  color: black;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
section.content {
  padding: 10px;
}
section.page {
  padding: 50px 25px;
}
section.login {
  padding: 100px 50px;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  section.login {
    padding: 75px 15px 50px;
    height: auto;
  }
}
section.half {
  padding: 50px 0;
}
aside.clients img {
  margin: 50px auto;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #A3112A;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #750c1e;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #A3112A;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #A3112A !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: #A3112A;
    border-width: 0 0 2px;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #A3112A;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #750c1e;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #A3112A;
  }
  .navbar-default.navbar-page {
    border-color: #A3112A;
    border-width: 0 0 2px;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
}
header.blog-header {
  padding: 70px 0 0 0;
  color: #333333;
  min-height: 50px;
  background-image: none;
}
header.post-header {
  margin-top: 52px;
  background-color: rgba(0, 0, 0, 0.5);
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
header.post-header .site-heading,
header.post-header .post-heading,
header.post-header .page-heading {
  color: white;
}
header.post-header .site-heading,
header.post-header .page-heading {
  text-align: center;
}
header.post-header .site-heading h1,
header.post-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
header.post-header .site-heading .subheading,
header.post-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  header.post-header .site-heading h1,
  header.post-header .page-heading h1 {
    font-size: 80px;
  }
}
header.post-header .post-heading {
  text-align: right;
  margin: 2em 3em;
}
header.post-header .post-heading h1 {
  font-size: 35px;
}
header.post-header .post-heading h1 span {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  line-height: 1.7em;
}
@media only screen and (min-width: 768px) {
  header.post-header .post-heading h1 {
    font-size: 55px;
    font-weight: 800;
  }
  header.post-header .post-heading .subheading {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {
  header.post-header {
    min-height: 85%;
  }
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  word-spacing: 10px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-delay: 500;
  -moz-animation-delay: 500;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  margin-bottom: 50px;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
article p {
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.7;
  margin: 30px 0;
}
article .post-attribution {
  margin-bottom: 3em;
}
article .post-attribution a {
  font-weight: 600;
}
.section-heading {
  margin-top: 0;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 4px solid;
  border-color: #f6a4b2;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(163, 17, 42, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.contact-details li {
  margin: 0 10px;
}
.map iframe {
  max-width: 270px;
}
@media (min-width: 480px) {
  .map iframe {
    max-width: 430px;
  }
}
@media (min-width: 768px) {
  .map iframe {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .map iframe {
    max-width: 800px;
  }
}
.text-primary {
  color: #A3112A;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  border-radius: 0;
}
.btn.focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.active.focus,
.btn:active:focus {
  outline: none;
}
.btn.tag {
  text-transform: none;
}
.btn.tag.active,
.btn.tag:hover,
.btn.tag:focus {
  color: #fff;
}
.btn.tag.active,
.btn.tag:hover {
  background-color: #A3112A;
  color: #fff;
}
.btn-default {
  border: 2px solid #A3112A;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover {
  border: 2px solid #A3112A;
  outline: none;
  color: white;
  background-color: #A3112A;
}
.btn-primary {
  border: 2px solid #A3112A;
  color: #A3112A;
  background-color: transparent;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
  border: 2px solid #A3112A;
  outline: none;
  color: white;
  background-color: #A3112A;
}
.dropdown {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border: 2px solid #A3112A;
  color: #A3112A;
  background-color: transparent;
  border-radius: 0;
  margin: 3px;
  font-size: 12px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li:first-child > a:hover,
.pagination > li:first-child > span:hover,
.pagination > li:last-child > a:hover,
.pagination > li:last-child > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > li:first-child > a:focus,
.pagination > li:first-child > span:focus,
.pagination > li:last-child > a:focus,
.pagination > li:last-child > span:focus,
.pagination > li > a:active,
.pagination > li > span:active,
.pagination > li:first-child > a:active,
.pagination > li:first-child > span:active,
.pagination > li:last-child > a:active,
.pagination > li:last-child > span:active,
.pagination > li > a:active:hover,
.pagination > li > span:active:hover,
.pagination > li:first-child > a:active:hover,
.pagination > li:first-child > span:active:hover,
.pagination > li:last-child > a:active:hover,
.pagination > li:last-child > span:active:hover {
  border: 2px solid #A3112A;
  outline: none;
  color: white;
  background-color: #A3112A;
}
.pagination > .active > span {
  border: 2px solid #A3112A;
  outline: none;
  color: white;
  background-color: #A3112A;
}
.pagination > .active > span:hover {
  border: 2px solid #8c0f24;
  outline: none;
  color: white;
  background-color: #8c0f24;
}
.btn-xl {
  padding: 15px 30px;
}
#top.btn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 90px;
  right: 30px;
  color: #ffffff;
  background: #ba1330;
  border-color: #ba1330;
}
#top.btn:hover {
  background: #8c0f24;
  border-color: #8c0f24;
}
.form-custom {
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-width: 0 0 1px;
  border-radius: 0;
  height: 42px;
  box-shadow: none;
}
.form-custom:focus {
  border: 1px solid #A3112A;
  border-width: 0 0 1px;
  box-shadow: none;
}
.form-group-custom {
  margin: 20px 0;
}
.is-danger {
  color: #e70028;
}
.box {
  border: 2px solid #A3112A;
  color: #A3112A;
  padding: 20px;
  margin: 0 auto;
  max-width: 350px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
.box h1 {
  font-size: 18pt;
  font-weight: 700;
}
.box .btn-primary {
  font-weight: 700;
  font-size: 11pt;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #777777;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #777777;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #A3112A;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
.footer {
  border: 2px solid #A3112A;
  border-width: 1px 0 0;
  background-color: #fce0e5;
  line-height: 20px;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul a:not(.btn) {
  /*color: #777777;*/
  display: block;
  margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover,
.footer nav > ul a:not(.btn):focus {
  text-decoration: none;
}
.footer .social-area {
  padding: 15px 0;
}
.footer .social-area h5 {
  padding-bottom: 15px;
}
.footer .social-area > a:not(.btn) {
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer hr {
  border-color: #dddddd;
}
.footer .title {
  color: #777777;
}
.footer:not(.footer-big) nav > ul {
  font-size: 16px;
}
.footer:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
@media (max-width: 767px) {
  .footer:not(.footer-big) nav > ul li {
    float: none !important;
  }
}
.footer:not(.footer-big) nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}
.footer-default {
  background-color: whitesmoke;
}
@media (max-width: 767px) {
  .footer nav.pull-left,
  .footer:not(.footer-big) nav > ul li,
  .pull-right {
    float: none !important;
  }
}
.post-preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 35px;
}
.post-preview .post-preview-text .post-title {
  font-size: 30pt;
  font-weight: 700;
  margin-bottom: 0.6em;
  line-height: 1.4em;
}
.post-preview .post-preview-text .post-title.bottom {
  margin-top: 1em;
  font-size: 24pt;
  font-weight: 600;
}
.post-preview .post-preview-text .post-meta {
  font-size: 14px;
  margin-top: 0;
}
.post-preview .post-preview-text .post-meta a {
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .post-preview > .post-preview-text > a > .post-title {
    font-size: 36px;
    font-weight: 700;
  }
}
.post-preview-middle {
  margin: 3em 0;
}
.post-preview-middle .post-preview-text {
  margin: 0 35px;
}
.post-preview-middle .post-preview-text .post-title {
  margin-top: 1em;
  font-size: 20pt;
  font-weight: 600;
}
.post-preview-middle .post-preview-text .post-meta {
  font-size: 14px;
  margin-top: 0;
}
.post-preview-middle .post-preview-text .post-meta a {
  font-weight: 600;
}
.post-img-middle {
  display: flex;
  justify-content: center;
}
.pagination {
  display: block;
}
#owl-main.owl-carousel {
  color: #FFFFFF;
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
}
#owl-main .item {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 480px;
}
#owl-main .item .container {
  padding-top: 5em;
}
#owl-main .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#owl-main h2 {
  font-size: 50px;
  font-weight: 600;
}
#owl-main p {
  line-height: 1.8em;
}
#owl-main .btn-primary {
  border: 2px solid #A3112A;
  color: #A3112A;
  background-color: transparent;
  color: #ffffff;
}
#owl-main .btn-primary:hover,
#owl-main .btn-primary:focus,
#owl-main .btn-primary:active,
#owl-main .btn-primary:active:hover {
  border: 2px solid #A3112A;
  outline: none;
  color: white;
  background-color: #A3112A;
}
.owl-pagination .owl-page span {
  background-color: #DA5068;
}
.owl-pagination .owl-page.active span,
.owl-pagination .owl-page:hover span {
  background-color: #A3112A;
}
.project {
  padding: 25px 0;
}
.project.header {
  padding: 0 0 25px;
  min-height: 40rem;
}
.project img {
  margin: auto;
}
.project hr {
  margin-left: 0;
}
.project .text-muted {
  margin-top: 2rem;
}
#books,
.books,
.projects {
  padding: 50px 0;
}
#books img,
.books img,
.projects img {
  width: auto;
  margin: auto;
}
#books h4,
.books h4,
.projects h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 10px 5px;
}
#books h5,
.books h5,
.projects h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 10px;
}
#books h6,
.books h6,
.projects h6 {
  font-size: 18px;
  font-weight: 600;
  color: #A3112A;
  margin: 5px 10px;
}
#books .project-title,
.books .project-title,
.projects .project-title {
  margin-left: 60px;
}
#books .project-title,
.books .project-title,
.projects .project-title {
  margin-left: 60px;
}
#books .book,
.books .book,
.projects .book {
  margin: 15px 0;
}
.book-description h1 {
  font-size: 40px;
  font-weight: 700;
}
.book-description h3 {
  font-size: 28px;
  font-weight: 600;
  color: #A3112A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-description h3 a {
  float: right;
}
.book-description h3.not-in-stock {
  display: inline-block;
  color: #777;
  padding: 5px;
  margin: 10px 10px 10px 0;
  background-color: #eee;
}
.book-description p.short-description {
  margin-top: 1em;
  font-weight: 600;
}
.book-details {
  margin-top: 2rem;
}
.book-details p {
  font-size: 16px;
  margin-bottom: 0;
  color: #A3112A;
}
.book-details ul {
  margin-top: 1em;
}
#selected-post {
  padding: 30px 0;
}
#selected-post .post-preview-text {
  margin: 0 80px;
}
.tag,
li.tag {
  padding: 5px 8px;
  background-color: rgba(163, 17, 42, 0.7);
  border-radius: 30px;
  font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
.modal-content .modal-header {
  padding: 15px 30px;
}
.modal-content .modal-body {
  margin: 0 20px;
}
.modal-content .modal-body .quantity {
  display: flex;
  justify-content: space-around;
}
.modal-content .modal-footer {
  border-top: none;
}
.modal-content b {
  color: #A3112A;
}
.modal-content .thank-you {
  padding: 150px 70px;
}
.modal-open {
  padding-right: 0px !important;
}
.isbn_list {
  display: block;
  margin-left: 5rem;
}
img.bordered {
  border: 2px solid #f6a4b2;
}
