{% extends "core/dashboard.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Create User" %}{% endblock %}
{% block page_title %}{% trans "Create User" %}{% endblock %}

{% block content %}

<form action="" name="create-form" id="create-form" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
      {% for fieldset in form.fieldsets %}
      <fieldset class="form-group {{ fieldset.classes }}">
        {% if fieldset.description %}
        <p class="description">{{ fieldset.description }}</p>
        {% endif %}
        {% for field in fieldset %}
        {% if field.is_hidden %}
        {% render_field field class="form-field" %}
        {% else %}
        <div class="row">
          <div class="col-md-2">
            {{ field.label_tag }}
          </div>
          <div class="col-md-10">
            {{ field|attr:"class:form-control" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            {{ field.errors }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </fieldset>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input class="btn btn-default" type="submit" value="Submit"/>
    </div>
  </div>
</form>

<!-- Image upload -->
{% include 'pbhouse/upload_template.html' %}
<script type="text/javascript">
$(function() {
    initUploadFields($('#create-form'));
    });
</script>

{% endblock %}
