{% load widget_tweaks %}

<form action="" name="post-form" id="post-form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.form_id }}
    {{ form.upload_url }}
    {{ form.delete_url }}
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col-md-12">
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.title.auto_id }}">
                        {{ form.title.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.title|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.title.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.short_descr.auto_id }}">
                        {{ form.short_descr.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.short_descr|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.short_descr.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.description.auto_id }}">
                        {{ form.description.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.description|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.description.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.slug.auto_id }}">
                        {{ form.slug.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.slug|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.slug.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.image.auto_id }}first-name">
                        {{ form.image.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.image|attr:"class:form-control" }}
                    </div>
					{% if form.image.errors %}
                    <div class="col-md-12">
                        {{ form.image.errors }}
                    </div>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
					<label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.curators.auto_id }}">
                        {{ form.curators.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.curators|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.curators.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
    </div>
</form>

<!-- Image upload -->
{% include 'core/upload_template.html' %}

<script type="text/javascript">
    $(function() {
        initUploadFields($('#post-form'));
    });
</script>
