{% extends "core/base.html" %}

{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block navbar %}{% include "pbhouse/navbar_landing.html" %}{% endblock %}

{% block content %}
<header class="project header" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('{{ object.image.project_large.url }}'); background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
</header>
<section class="project">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="text-center">
					<h1>{{ object.title }}</h1>
					<p>{{ object.short_descr|safe }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="project" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 text-center">
				{% for curator in object.curators.all %}
				<div class="curators team-member">
					<img src="{{ curator.avatar.extra_large_avatar.url }}" class="img-responsive img-circle" alt="Curator's image">
					<p class="text-muted">Куратор: {{ curator.first_name }} {{ curator.last_name }}</p>
				</div>
				{% endfor %}
			</div>
			<div class="col-lg-7 col-md-7 text-left">
				<h2 class="section-heading">Про проект</h2>
				<hr class="primary">
				<p>{{ object.description|safe }}</p>
			</div>
		</div>
	</div>
</section>
<section class="project books">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-heading">Книги</h2>
				<hr class="primary">
			</div>
		</div>
		{% for book in books %}
		{% if forloop.first %}<div class="row">{% endif %}
			<div class="col-md-4">
				<div class="row book text-left">
					<div class="col-md-12">
						<div class="view">
							<a href="{% url 'books:page' book.slug %}">
								<img src="{{ book.image.book.url }}" class="img-responsive bordered" alt="Book image">
							</a>
						</div>
					</div>
					<div class="col-md-12">
						<a href="{% url 'books:page' book.slug %}">
							<h4>{{ book.title }}</h4>
						</a>
						<h5>
							{% for author in book.authors.all %}
							{% if book.authors.all.count < 2 or forloop.last %}
							{{ author }}
							{% else %}
							{{ author }}, 
							{% endif %}
							{% endfor %}
						</h5>
						<h6>
							{{ book.price|default:"0" }} грн.
						</h6>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
			{% if forloop.last %}</div>{% endif %}
		{% endfor %}
		<div class="row">
			<div class="col-md-12 text-center" style="margin-top:4rem;">
				<a href="{% url 'books:list' %}?tags={{ object.project_tag.id }}" class="btn btn-primary">
					<i class="fa fa-book" aria-hidden="true"></i>
					Дивитися Ще
				</a>
			</div>
		</div>
	</div>
</section>

{% if posts %}
<section class="project" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section-heading">Публікації</h2>
				<hr class="primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row post-preview-middle">
					{% for post in posts %}
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 post-img-middle">
								<div class="view">
									<a href="{% url 'blog:page' post.slug %}">
										<img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
									</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="post-preview-text">
									<a href="{% url 'blog:page' post.slug %}" class="">
										<h2 class="post-title middle">{{ post.title }}</h2>
									</a>
									<p>{{ post.short_descr }}</p>
									<p class="post-meta">
									<span class="meta"><a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></span>
									<span class="meta">{{ post.pub_date }}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

{% endblock %}
