{% load widget_tweaks %}

<form action="" name="post-form" id="post-form" class="form-horizontal form-label-left" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.form_id }}
    {{ form.upload_url }}
    {{ form.delete_url }}
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col-md-12">
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
					<label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.title.auto_id }}">
                        {{ form.title.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.title|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.title.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-4 col-xs-12" for="{{ form.in_stock.auto_id }}">
                        {{ form.in_stock.label }}
                    </label>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        {{ form.in_stock|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.in_stock.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="{{ form.price.auto_id }}">
                        {{ form.price.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.price|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.price.errors }}
                    </div>
                </div>
            </div>
        </div>
        
		<div class="col-md-2">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="{{ form.pages.auto_id }}">
                        {{ form.pages.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.pages|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.pages.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.cover.auto_id }}">
                        {{ form.cover.label }}
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.cover|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.cover.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-4 col-xs-12" for="{{ form.release.auto_id }}">
                        {{ form.release.label }}
                    </label>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        {{ form.release|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.release.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-2">
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-9 col-sm-9 col-xs-9" for="{{ form.selected.auto_id }}">
						{{ form.selected.label }}
					</label>
					<div class="col-md-3 col-sm-3 col-xs-3">
						{{ form.selected|attr:"class:form-control flat" }}
					</div>
					<div class="col-md-12">
						{{ form.selected.errors }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-6 col-sm-6 col-xs-6" for="{{ form.new.auto_id }}">
						{{ form.new.label }}
					</label>
					<div class="col-md-6 col-sm-6 col-xs-6">
						{{ form.new|attr:"class:form-control flat" }}
					</div>
					<div class="col-md-12">
						{{ form.new.errors }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-4 col-sm-4 col-xs-4" for="{{ form.best_seller.auto_id }}">
						{{ form.best_seller.label }}
					</label>
					<div class="col-md-8 col-sm-8 col-xs-8">
						{{ form.best_seller|attr:"class:form-control flat" }}
					</div>
					<div class="col-md-12">
						{{ form.best_seller.errors }}
					</div>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
		<div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.height.auto_id }}">
                       Розміри 
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                        {{ form.height|attr:"class:form-control" }}
                    </div>
					<div class="col-md-1 col-sm-3 col-xs-4 text-center">
						<i class="fa fa-times fa-lg" aria-hidden="true"></i>
					</div>
					<div class="col-md-3 col-sm-2 col-xs-4">
                        {{ form.length|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.height.errors }}
                        {{ form.lenght.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6 col-sm-6 col-xs-12" for="{{ form.weight.auto_id }}">
                        {{ form.weight.label }}
                    </label>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        {{ form.weight|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.weight.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.publisher.auto_id }}">
                        {{ form.publisher.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.publisher|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.publisher.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.isbn_10.auto_id }}">
                        {{ form.isbn_10.label }}
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.isbn_10|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.isbn_10.errors }}
                    </div>
                </div>
            </div>
        </div>
		<div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.isbn_13.auto_id }}">
                        {{ form.isbn_13.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.isbn_13|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.isbn_13.errors }}
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.short_descr.auto_id }}">
                        {{ form.short_descr.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.short_descr|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.short_descr.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.description.auto_id }}">
                        {{ form.description.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.description|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.description.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ form.from_author.auto_id }}">
                        {{ form.from_author.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.from_author|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.from_author.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="{{ form.slug.auto_id }}">
                        {{ form.slug.label }}<span class="required">*</span>
                    </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        {{ form.slug|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.slug.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">
                        {{ form.image.label }}
                    </label>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        {{ form.image|attr:"class:form-control" }}
                    </div>
					{% if form.image.errors %}
                    <div class="col-md-12">
                        {{ form.image.errors }}
                    </div>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-6 col-xs-12" for="{{ form.authors.auto_id }}">
                        {{ form.authors.label }}
                    </label>
                    <div class="col-md-8 col-sm-3 col-xs-12">
                        {{ form.authors|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.authors.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-4 col-xs-12" for="{{ form.tags.auto_id }}">
                        {{ form.tags.label }}
                    </label>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        {{ form.tags|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.tags.errors }}
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-4 col-xs-12" for="{{ form.translators.auto_id }}">
                        {{ form.translators.label }}
                    </label>
                    <div class="col-md-10 col-sm-8 col-xs-12">
                        {{ form.translators|attr:"class:form-control" }}
                    </div>
                    <div class="col-md-12">
                        {{ form.translators.errors }}
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input class="btn btn-primary" type="submit" value="Зберегти"/>
        </div>
    </div>
</form>

<!-- Image upload -->
{% include 'core/upload_template.html' %}

{% block js %}
<script type="text/javascript">
    $(function() {
        initUploadFields($('#post-form'));
    });
</script>
{% endblock %}
