{% load widget_tweaks %}
{% load i18n %}

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="bookModalLabel">Замовити книгу <b class="modal-title"></b></h4>
			</div>
			<form name="orderBook" action="{% url 'books:create_order' %}" method="post" id="orderForm" novalidate>
				{% csrf_token %}
				{% render_field order_form.book hidden="true" type="text" %}
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-6">
							<h4>Ціна: <b id="book-price"></b></h4>
						</div>
						<div class="form-group col-xs-6">
							<!--<label for="quantity">{% trans "Кількість" %}</label>-->
							{% render_field order_form.quantity class+="" hidden="true" type="text" placeholder=order_form.quantity.label %}
							<p class="help-block text-danger">{{ order_form.quantity.errors }}</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label for="name">{% trans "Ім’я" %}</label>
							{% render_field order_form.name class+="form-control" type="text" placeholder=order_form.name.label %}
							<p class="help-block text-danger">{{ order_form.name.errors }}</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label for="email">{% trans "Електронна скринька" %}</label>
							{% render_field order_form.email class+="form-control" type="text" placeholder=order_form.email.label %}
							<p class="help-block text-danger">{{ order_form.email.errors }}</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label for="phone">{% trans "Номер телефону" %}</label>

							{% render_field order_form.phone class+="form-control" type="text" placeholder=order_form.phone.label %}
							<p class="help-block text-danger">{{ order_form.phone.errors }}</p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label for="message">{% trans "Повідомлення" %}</label>
							{% render_field order_form.message class+="form-control" type="text" placeholder=order_form.message.label %}
							<p class="help-block text-danger">{{ order_form.message.errors }}</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary btn-lg">Замовити</button>
				</div>
			</form>
		</div>
	</div>
</div>
