{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Видавництво «Темпора»" %}{% endblock %}

{% block navbar %}{% include "pbhouse/navbar_landing.html" %}{% endblock %}

{% block content %}

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">{% trans "Видавничий дім «Темпора»" %}</h1>
      <br>
      <p>{% trans "Видавничий дім «Темпора» — це передовсім простір для вільного обміну думками й смислами. Нашою цінністю є відкритий діалог з активним читачем, який не лише приймає культурний продукт, а й бере участь у його творенні й популяризації." %}</p>
    </div>
  </div>

  <button id="top" type="button" class="btn btn-primary btn-top btn-lg" data-spy="affix"><i class="fa fa-2x fa-angle-double-up" aria-hidden="true"></i></button>
</header>

<!-- Projects Section -->
<section class="no-padding" id="projects">
  <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">
      <div class="item" style="background-image: url({% static 'pbhouse/img/projects/slider01.jpg' %});">
          <div class="container">
              <div class="caption vertical-center text-center">
                  <h1 class="fadeInDown-1 light-color">Lorem ipsum dolor sit amet</h1>
                  <p class="fadeInDown-2 medium-color">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="fadeInDown-3"><a href="#" class="btn btn-primary btn-lg">Get started now</a></div>
              </div>
          </div>
      </div>
      <div class="item" style="background-image: url({% static 'pbhouse/img/projects/slider02.jpg' %});">
          <div class="container">
              <div class="caption vertical-center text-right">
                  <h1 class="fadeInLeft-1 light-color">Duis aute irure dolor</h1>
                  <p class="fadeInLeft-2 light-color">RExcepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <div class="fadeInLeft-3"><a href="#" class="btn btn-primary btn-lg">Get started now</a></div>
              </div>
          </div>
      </div>
      <div class="item" style="background-image: url({% static 'pbhouse/img/projects/slider03.jpg' %});">
          <div class="container">
              <div class="caption vertical-center text-left">
                  <h1 class="fadeInRight-1 light-color">Proin fringilla vitae</h1>
                  <p class="fadeInRight-2 dark-color">In purus dolor, sagittis eu rutrum in, pellentesque et nisl. Nam eget aliquam lorem. Duis suscipit velit et risus vehicula, quis laoreet libero mattis. </p>
                  <div class="fadeInRight-3"><a href="#" class="btn btn-primary btn-lg">Get started now</a></div>
              </div>
          </div>
      </div>
      <div class="item" style="background-image: url({% static 'pbhouse/img/projects/slider04.jpg' %});">
          <div class="container">
              <div class="caption vertical-top text-right">
                  <h1 class="fadeIn-1 light-color"><span>Ut varius congue</span></h1>
                  <p class="fadeIn-2 light-color">Etiam tempus pharetra efficitur. Vivamus consequat porta felis sed ultrices. Nullam lobortis purus eget pellentesque interdum.</p>
                  <div class="fadeIn-3"><a href="#" class="btn btn-primary btn-lg">Get started now</a></div>
              </div>
          </div>
      </div>
      <!-- <div class="item" style="background-image: url({% static 'pbhouse/img/projects/slider05.jpg' %});">
          <div class="container">
              <div class="caption vertical-top text-center">
                  <h1 class="fadeInDown-1 light-color">Morbi id elementum risus</h1>
                  <p class="fadeInDown-2 medium-color">Aenean aliquam sagittis purus, in dictum nulla pharetra eget. Nunc vel varius ante!</p>
                  <div class="fadeInDown-3"><a href="#" class="btn btn-large">Get started now</a></div>
              </div>
          </div>
      </div> -->
  </div>
</section>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "Про нас" %}</h2>
        <hr class="light">
        <p class="">{% trans "Видавництво «Темпора» було засноване 2001 року й спочакту спеціалізувалося на історичній літературі й мемуаристиці. Зараз до сфери наших зацікавлень входять сучасна українська й зарубіжна проза, постмодерна література, художній репортаж, різнотематичний нон-фікшн і науково-популярні книжки." %}</p>
        <!--<a href="" class="btn btn-default btn-xl page-scroll">Find Out More</a> -->
      </div>
    </div>
  </div>
</section>

<!--
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Sturdy Templates</h3>
          <p class="text-muted">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Ready to Ship</h3>
          <p class="text-muted">You can use this theme as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Up to Date</h3>
          <p class="text-muted">We update dependencies to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Made with Love</h3>
          <p class="text-muted">You have to make your websites with love these days!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
          <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
-->

<!-- Clients Aside -->
<aside class="clients bg-sections">
  <div class="container">
    <div class="row">
      {% if parnters %}
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{% static 'pbhouse/img/litakcent.png' %}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</aside>

<!-- Contact section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "На зв’язку!" %}</h2>
        <hr class="primary">
        <p>{% trans "Ми постійно шукаємо нових авторів, перекладачів, коректорів — усіх, хто готовий долучитися до творення української культури. Тож «Темпора» відкрита до співпраці. Подзвоніть нам чи напишіть листа — і ми обов’язково вийдемо на контакт." %}</p>
        <ul class="list-inline contact-details">
          <li>
          <i class="fa fa-envelope-o fa-2x sr-contact"></i>
          <p> tempora@ukr.net</p></li>
          <li>
          <i class="fa fa-phone fa-2x sr-contact"></i>
          <p>(+38 044) 234-46-40</p></li>
        </ul>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
          <a href="https://www.facebook.com/temporapub/" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <!--
          <li>
          <a href="" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
                    <li>
          <a href="" class="btn btn-primary btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Email Section -->
<section id="email" class="bg-sections">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Напишіть нам!</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="message"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" method="post" id="contactForm" novalidate>
          {% csrf_token %}
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">{% trans "Ім’я" %}</label>
              {% render_field form.name class+="form-control" type="text" placeholder=form.name.label %}
              <p class="help-block text-danger">{{ form.name.errors }}</p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">{% trans "Електронна скринька" %}</label>
              {% render_field form.email class+="form-control" type="text" placeholder=form.email.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone">{% trans "Номер телефону" %}</label>

              {% render_field form.phone class+="form-control" type="text" placeholder=form.phone.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">{% trans "Повідомлення" %}</label>
              {% render_field form.message class+="form-control" type="text" placeholder=form.message.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-primary btn-lg">{% trans "Надіслати" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> 

<!-- Map section -->
<section id="map" class="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "Наша Адреса" %}</h2>
        <hr class="primary">
        <p>{% trans "Україна, 01030, Київ, Богдана Хмельницького 32, Офіс 4" %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10162.78655437296!2d30.51068!3d50.446751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7a6e991e3e89cc7!2z0KLQldCc0J_QntCg0JAgKNCy0LjQtNCw0LLQvdC40YbRgtCy0L4p!5e0!3m2!1suk!2sus!4v1495819370661" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

{% endblock %}
