{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Видавництво «Темпора»" %}{% endblock %}

{% block navbar %}{% include "pbhouse/navbar_landing.html" %}{% endblock %}


{% block content %}

<header class="landing">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading" class="animated hidden">{% trans "Видавничий дім «Темпора»" %}</h1>
      <br>
      <p class="animated hidden">{% trans "Видавничий дім «Темпора» — це передовсім простір для вільного обміну думками й смислами. Нашою цінністю є відкритий діалог з активним читачем, який не лише приймає культурний продукт, а й бере участь у його творенні й популяризації." %}</p>
    </div>
  </div>

  <button id="top" type="button" class="btn btn-primary btn-top btn-lg" data-spy="affix"><i class="fa fa-2x fa-angle-double-up" aria-hidden="true"></i></button>
</header>

{% if books %}
<section class="sections-dark" id="books">
	<div class="owl-carousel owl-theme">
		{% for book in books %}
		<div class="item text-center">
			<div class="row book text-left">
				<div class="col-md-12">
					<div class="view view-first view-books">
						<img src="{{ book.image.book.url }}" class="img-responsive" alt="Book image">
						<div class="mask">
							<a href="{% url 'books:page' book.slug %}" class="btn btn-primary">Дивитися</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<a href="{% url 'books:page' book.slug %}">
						<h4 class="text-left">{{ book.title }}</h4>
					</a>
					<h5 class="text-left">
						{% for author in book.authors.all %}
						{% if book.authors.all.count < 2 or forloop.last  %}
						{{ author }}
						{% else %}
						{{ author }}, 
						{% endif %}
						{% endfor %}
					</h5>
					<h6>
						{{ book.price|default:"0" }} грн.
					</h6>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
<section class="bg-primary" id="about">
	<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "Про нас" %}</h2>
        <hr class="light">
        <p class="">{% trans "Видавництво «Темпора» було засноване 2001 року й спочакту спеціалізувалося на історичній літературі й мемуаристиці. Зараз до сфери наших зацікавлень входять сучасна українська й зарубіжна проза, постмодерна література, художній репортаж, різнотематичний нон-фікшн і науково-популярні книжки." %}</p>
      </div>
    </div>
  </div>
</section>
{% if projects %}
<!-- Projects Section -->
<section class="no-padding hidden-xs hidden-sm" id="projects">
	<div id="owl-main" class="owl-carousel owl-theme height-md">
		{% for project in projects %}
		<div class="item {% if forloop.first %}first-owl-item{% endif %}" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url({{ project.image.project_large.url }}); background-size: cover;">
			<div class="container">
				<div class="caption vertical-center">
					<h2 class="">{{ project.title }}</h2>
					<p class="">{{ project.short_descr }}</p>
					<div class=""><a href="{% url 'projects:page' project.slug %}" class="btn btn-primary btn-lg">Дізнатися ще</a></div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section class="no-padding hidden-md hidden-lg" id="projects-mobile">
	<div id="owl-main-mobile" class="owl-carousel owl-theme height-md">
		{% for project in projects %}
		<div class="item {% if forloop.first %}first-owl-item{% endif %}" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url({{ project.image.project_small.url }}); background-size: cover;">
			<div class="container">
				<div class="caption vertical-center">
					<h2 class="">{{ project.title }}</h2>
					<p class="">{{ project.short_descr }}</p>
					<div class=""><a href="{% url 'projects:page' project.slug %}" class="btn btn-primary btn-lg">Дізнатися ще</a></div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
{% if selected_post %}
<section id="selected-post">
	<div class="container-fluid">
		<div class="row post-preview-middle">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12 post-img-middle">
						<div class="view view-first">
							<img class="post-img img-responsive" src="{{ selected_post.image.blog_selected.url }}" alt="{{ selected_post.image.name }}">
							<div class="mask">
								<a href="{% url 'blog:page' selected_post.slug %}" class="btn btn-primary">Читати</a>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="post-preview-text">
							<a href="{% url 'blog:page' selected_post.slug %}" class="">
								<h2 class="post-title middle">{{ selected_post.title }}</h2>
							</a>
							<p>{{ selected_post.short_descr }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}
{% if posts %}
<section class="sections-dark" id="blog">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading hidden">{% trans "Блог" %}</h2>
				<div class="row post-preview-middle">
					{% for post in posts %}
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 post-img-middle">
								<div class="view view-first">
									<img class="post-img img-responsive" src="{{ post.image.blog_second.url }}" alt="{{ post.image.name }}">
									<div class="mask">
										<a href="{% url 'blog:page' post.slug %}" class="btn btn-primary">Читати</a>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="post-preview-text">
									<a href="{% url 'blog:page' post.slug %}" class="">
										<h2 class="post-title middle">{{ post.title }}</h2>
									</a>
									<p>{{ post.short_descr }}</p>
									<p class="post-meta">
									<span class="meta"><a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></span>
									<span class="meta">{{ post.pub_date }}</span>
									</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="{% url 'blog:blog' %}" class="btn btn-primary btn-lg" target="_blank"><span class="network-name">Читати ще</span></a>
			</div>
		</div>
	</div>
</section>
{% endif %}

<!-- Clients Aside -->
<aside class="clients sections-dark">
  <div class="container">
    <div class="row">
      {% if parnters %}
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{% static 'pbhouse/img/litakcent.png' %}" class="img-responsive img-centered" alt="">
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</aside>

<!-- Contact section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "На зв’язку!" %}</h2>
        <hr class="primary">
        <p>{% trans "Ми постійно шукаємо нових авторів, перекладачів, коректорів — усіх, хто готовий долучитися до творення української культури. Тож «Темпора» відкрита до співпраці. Подзвоніть нам чи напишіть листа — і ми обов’язково вийдемо на контакт." %}</p>
        <ul class="list-inline contact-details">
          <li>
          <i class="fa fa-envelope-o fa-2x sr-contact"></i>
          <p> tempora@ukr.net</p></li>
          <li>
          <i class="fa fa-phone fa-2x sr-contact"></i>
          <p>(+38 044) 234-46-40</p></li>
        </ul>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
          <a href="https://www.facebook.com/temporapub/" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <!--
          <li>
          <a href="" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
                    <li>
          <a href="" class="btn btn-primary btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Email Section -->
<section id="email" class="sections-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Напишіть нам!</h2>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div id="message"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
		<form name="sentMessage" action="{% url 'pbhouse:landing' %}" method="post" id="contactForm" novalidate>
          {% csrf_token %}
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">{% trans "Ім’я" %}</label>
              {% render_field form.name class+="form-control" type="text" placeholder=form.name.label %}
              <p class="help-block text-danger">{{ form.name.errors }}</p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">{% trans "Електронна скринька" %}</label>
              {% render_field form.email class+="form-control" type="text" placeholder=form.email.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone">{% trans "Номер телефону" %}</label>

              {% render_field form.phone class+="form-control" type="text" placeholder=form.phone.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="message">{% trans "Повідомлення" %}</label>
              {% render_field form.message class+="form-control" type="text" placeholder=form.message.label %}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-primary btn-lg">{% trans "Надіслати" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> 

<!-- Map section -->
<section id="map" class="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">{% trans "Наша Адреса" %}</h2>
        <hr class="primary">
        <p>{% trans "Україна, 01030, Київ, Богдана Хмельницького 32, Офіс 4" %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10162.78655437296!2d30.51068!3d50.446751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe7a6e991e3e89cc7!2z0KLQldCc0J_QntCg0JAgKNCy0LjQtNCw0LLQvdC40YbRgtCy0L4p!5e0!3m2!1suk!2sus!4v1495819370661" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}
