{% extends "core/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Наша команда" %}{% endblock %}

{% block content %}

<div class="content">

    <!-- Start Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">{% trans "Наша команда" %}</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                {% for member in team %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ member.avatar.big_avatar.url }}" class="img-responsive img-circle" alt="">
                        <h4>{{ member.first_name }} {{ member.last_name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
							<li><a href="{{ member.twitter }}" class="btn btn-primary"><i class="fa fa-twitter"></i></a>
                            </li>
							<li><a href="{{ member.facebook }}" class="btn btn-primary"><i class="fa fa-facebook"></i></a>
                            </li>
							<li><a href="{{ member.linkedin }}" class="btn btn-primary"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--
                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
                </div>
            -->
        </div>
    </section>
    <!-- End Team Section -->

</div>

{% endblock %}
